.container{
    background-image: url("front.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0px;
      background-repeat: no-repeat;
    /* padding: 15px; */
    
     font-family:"palatino Linotype","Book Antiqua",palatino,serif;
}
  .container::after {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.905); /* adjust darkness */
  z-index: -1;
}

/* .menu-btn {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}
.menu-btn{
     transform: scale(3.5);
}  
 
.menu {
  display: none;
  margin-top: 10px;
} */
  

.menu-bar{
    display: flex;
    padding-left: 100px;
    gap: 50px;
    margin-top: 5px;
    color: rgb(209, 202, 202);
}
.menu-bar a {
  text-decoration: none; 
  color: rgb(192, 184, 184);          
  padding: 8px 12px;     
  transition: 0.2s;
}

.menu-bar a:hover {
  color: #fbfeff;        
  cursor: pointer;
}

.btn-container {
    background-color: rgba(37, 33, 33, 0.9);
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
}
.btn-container.active{
    text-decoration: underline;
}
.btn-container:hover{
      transform: scale(1.9);
}
.profile-pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
}
.centered{
    color: white; 
    position: absolute;
    top: 40%;
    left:35%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.down{
    color: rgb(159, 157, 157);
    position: relative;
    top: 100%;
     left: 170px;
    text-align: justify;
}
.frontend{
    color: white;
    position: relative;
    top:100%;
    left: 190px;
}
.linkedin-link {
  position: fixed;
  /* border-radius: 1050%; */
  bottom: -90px;
  left: 100px;
  font-size: 40px;
  color: #3e7ebd;
  text-decoration: none;
  z-index: 500;
}

.linkedin-link:hover {
  color: #19569d;
  transform: scale(1.1);
}

.leetcode-link {
  position: fixed;
  bottom: -90px;
  left: 200px;    
  z-index: 1000;
  transition: transform 0.2s ease;
}

.leetcode-link:hover {
  transform: scale(1.2);
}
 .github-link {
  position: fixed;
  bottom: -90px;
  left: 300px; 
  z-index: 1000;
  transition: transform 0.2s ease;
}

.github-link:hover {
  transform: scale(1.1);
}

.email-link {
  position: fixed;
  bottom: -90px;
  left: 400px;  
  z-index: 1000;
  transition: transform 0.2s ease;
}

.email-link:hover {
  transform: scale(1.1);
}

.download-resume-btn{
position: fixed;        
  bottom: -210px;            
  right: -200px;            
  background-color: #148590;  
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
   font-weight: bold; 
  text-decoration: none;   
  /* box-shadow: 0 4px 8px rgba(181, 225, 237, 0.2); */
  transition: transform 0.2s, background-color 0.2s;
  z-index: 1000;          
}

.download-resume-btn:hover {
  transform: scale(1.1);   
  background-color: #0d6a6e;
  cursor: pointer;
}

